@tailwind base;
@tailwind components;
@tailwind utilities;

.content-area {
  width: calc(100% - theme('spacing.32'));
  height: calc(100% - theme('spacing.40'));
}

@media only screen and (max-width: 767px) {
  .content-area {
    width: 100%;
  }
}

.nav {
  height: calc(100%);
}
